{{
  "name": "react-native-heartbeat",
  "version": "{build_version}",
  "description": "A bridge for React Native and Heartbeat",
  "main": "index.js",
  "scripts": {{
    "test": "echo \"Error: no test specified\" && exit 1"
  }},
  "keywords": [
    "react-native"
  ],
  "author": "",
  "license": "",
  "peerDependencies": {{
    "react-native": "{react_native_version}"
  }}
}}
